<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Admin Dashboard</title>
    <link rel="icon" type="image/png" th:href="@{/assets/images/logo/logo.png}"/>
    <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>

    <script th:src="@{/js/render.js}" defer></script>
    <script th:src="@{/js/util.js}" defer></script>
    <script th:src="@{/js/components/header.js}" defer></script>
    <script th:src="@{/js/components/footer.js}" defer></script>
</head>
<body>
<div class="container">
    <div class="wrapper">
        <div id="header"></div>
        <main class="main-content">
                <input type="text" id="searchBar" placeholder="search doctor by name" class="searchBar"/>
                <div id="filters" class="filter-wrapper">
                    <select id="filterTime" class="filter-select">
                        <option value="*">Filter by Time</option>
                        <option>AM</option>
                        <option>PM</option>
                    </select>
                    <select id="filterSpecialty" class="filter-select">
                        <option value="*">Filter by Specialty</option>
                        <option value="Cardiologist">Cardiologist</option>
                        <option value="Dermatologist">Dermatologist</option>
                        <option value="Neurologist">Neurologist</option>
                        <option value="Pediatrician">Pediatrician</option>
                        <option value="Orthopedic">Orthopedic</option>
                        <option value="Gynecologist">Gynecologist</option>
                        <option value="Psychiatrist">Psychiatrist</option>
                        <option value="Dentist">Dentist</option>
                        <option value="Ophthalmologist">Ophthalmologist</option>
                        <option value="Ent">ENT Specialist</option>
                        <option value="Urologist">Urologist</option>
                        <option value="Oncologist">Oncologist</option>
                        <option value="Gastroenterologist">Gastroenterologist</option>
                        <option value="General">General Physician</option>
                    </select>
                </div>
            <div id="content"></div>
        </main>
        <div id="footer"></div>
    </div>
</div>
<div id="modal" class="modal" style="display: none;">
    <div class="modal-content">
        <span class="close" id="closeModal">&times;</span>
        <div id="modal-body">
            <!-- Dynamic modal content will be inserted here -->
        </div>
    </div>
</div>
<script type="module" th:src="@{/js/adminDashboard.js}" defer></script>

</body>
</html>
