<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Doctor Dashboard</title>
    <link rel="icon" type="image/png" th:href="@{/assets/images/logo/logo.png}"/>
    <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/doctorDashboard.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/style.css}"/>

    <script th:src="@{/js/render.js}" defer></script>
    <script th:src="@{/js/util.js}" defer></script>
    <script th:src="@{/js/components/header.js}" defer></script>
    <script th:src="@{/js/components/footer.js}" defer></script>
    <script type="module" th:src="@{/js/doctorDashboard.js}" defer></script>
</head>
<body>
    <div class="container">
        <div class="wrapper">
            <div id="header"></div>
            <main class="main-content">
                <input type="text" id="searchBar" placeholder="search patient by name" class="searchBar"/>
                <div id="filters" class="filter-wrapper">
                    <button id="todayButton" class="today-btn">Today's appointments</button>
                    <input type="date" id="datePicker" class="date-picker" />
                </div>

                <p>Doctor dashboard</p>
                <table id="patientTable">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <th>Prescription</th>
                    </tr>
                    </thead>
                    <tbody id="patientTableBody">

                    </tbody>
                </table>

            </main>
            <div id="footer"></div>
        </div>
    </div>
</body>
</html>
