* { margin: 0; padding: 0; box-sizing: border-box; }

html, body {
  height: 100%;
  font-family: Arial, sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 50px;
  color: #003e3e;
}

.main-content {
  flex-grow: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url('../images/defineRole/index.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

button {
  background-color: #A62B1F;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 10px 20px;
  margin-top: 0px;
  width: auto;
  cursor: pointer;
  font-size: 16px;
}


button:hover {
    background-color: #A62B1F;
}

.adminBtn {
  display: inline-flex;
  height: 32px;
  align-items: center;
  justify-content: center;
  background-color:transparent;
  color: #333;
  font-weight: bold;

  width: auto;
  padding: 0px 12px;
  cursor: pointer;
}

.adminBtn:hover {
  color: #FFF;
  background-color: #A62B1F;
}
